# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=bluefin-dx-nvidia-open

# Make this the same as your github username/organisation
REPO_ORGANIZATION="cvsickle"

IMAGE_DESC="CVSickle's Custom Bluefin DX Image"
IMAGE_KEYWORDS="bootc,oci,linux,bluefin,fedora,nvidia,universal-blue,atomic"
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/38385820?s=200&v=4"
IMAGE_LICENSE="Apache-2.0"
MAINTAINER_NAME="cvsickle"
MAINTAINER_EMAIL="vansicklecorey@gmail.com"

DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
