[Desktop Entry]
Type=Application
Name=Yazi
Comment=Blazing Fast Terminal File Manager
Icon=@ICONS@/yazi.png
TryExec=@BINDIR@/yazi %u
Exec=@BINDIR@/yazi %u
Terminal=true
StartupNotify=false
Keywords=file;directory;manager;browser;terminal;browsing;
